<script>
    window.onload = function(){
        var height = 31;
        var width = 88;
        var canvas = document.getElementById("button");
        var context = canvas.getContext("2d");
        context.fillStyle = "#ddd";
        context.fillRect(0,0,width,height);
        context.fillStyle = "#fff";
        context.fillRect(0,0,1,height);
        context.fillRect(1,0,1,height-1);
        context.fillRect(0,0,width,1);
        context.fillRect(0,1,width-1,1);
        context.fillStyle = "#000";
        context.fillRect(width-1,0,1,height);
        context.fillRect(width-2,1,1,height-1);
        context.fillRect(0,height-1,width,1);
        context.fillRect(1,height-2,width-1,1);

    }
</script>
<body style="backgrond:#222">
   <canvas width="88" height="31" id="button">
      <h1>Your browser no support canvas</h1>
   </canvas>
</body>
